@import "../config/functions";
@import "../config/mixins";

.accordion {
	/** Установить свои значения */
	$radius: 4;
	$icon-size: 24;

	// .accordion__item
	&__item {
		border-bottom: 1px solid #E0E0E0;

		/** Установить свои значения */
		background-color: #fff;
		transition: 0.3s ease-in-out;

		&.open {
			.accordion__header {
				&::after {
					transform: rotate(0deg);
				}
			}

			.accordion__content {
				block-size: max-content;

				/** Установить свои значения */
				padding: 10px 20px 20px;
			}
		}
	}

	// .accordion__header
	&__header {
		cursor: pointer;
		display: flex;
		position: relative;

		/** Установить свои значения */
		padding: 20px;
		align-items: center;
		justify-content: space-between;
		transition: background 0.3s ease-in-out;

		@include adaptiv-font(22,18);
		font-weight: 600;

		@include pseudo-cell(after, static) {
			block-size: rem($icon-size);
			inline-size: rem($icon-size);
			background-image: url("../images/chevron-down.svg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			transition: transform 0.6s ease-in-out;
		}
	}

	// .accordion__content
	&__content {
		block-size: 0;

		/** Установить свои значения */
		padding: 0 20px;
		overflow: hidden;
		line-height: 1.4;
		transition: all 0.3s ease-in-out;
	}
}
