.page-title {
  &__container {
    @include media-mx(991) {
      padding: 0;
    }
  }

  &_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 360px;
    margin-bottom: 30px;
    background: url("../images/project-1.jpg") no-repeat center / cover;
    border-radius: 25px;
    overflow: hidden;

    &.h530 {
      height: 530px;
    }
    &.cons {
      background-image: url("../images/bg-cons.png");
      background-position: top center;
    }
    &.legal {
      background-image: url("../images/bg-legal.png");
    }

    @include media-mx(991) {
      height: 350px !important;
      padding: 0 15px;
      border-radius: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 124.86%);
    }
  }

  &__title {
    position: relative;
    color: white;
    text-align: center;
    @include adaptiv-font(50,30);
    font-family: var(--ff-fdb);
  }

  &__description {
    position: relative;
    color: white;
    text-align: center;
    @include adaptiv-font(22,18);
    font-weight: 600;
  }

  &__location {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      color: var(--primary-color);
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}