.block-text {
  padding-block: 50px;

  @include media-mx(991) {
    padding-block: 25px;
  }

  &_wrapper {
    background: rgba(242, 242, 242, 1);
    border-radius: 25px;
    overflow: hidden;
  }

  &_row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    @include media-mx(991) {
      grid-template-columns: 100%;
    }
  }

  &_img {
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media-mx(991) {
        aspect-ratio: 16/9;
      }
    }
  }

  &_content {
    padding-block: 50px;
    padding-left: 100px;
    padding-right: 50px;

    @include media-mx(991) {
      padding: 30px 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-family: FreightDispProBlack, sans-serif;
    @include adaptiv-font(40,30);
  }

  &__subtitle {
    margin-bottom: 20px;
    color: var(--primary-color);
    @include adaptiv-font(20,16);
    line-height: 1.4;
  }

  &__text {
    margin-bottom: 50px;
    color: rgba(51, 51, 51, 1);
    @include adaptiv-font(20,16);
    line-height: 1.4;

    @include media-mx(991) {
      margin-bottom: 30px;
    }
  }

  &__description {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.4;

    @include media-mx(991) {
      margin-bottom: 30px;
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      font-size: 14px;
      font-weight: 600;
    }

    ul {
      display: flex;

      li {
        &:nth-child(even) img {
          background: rgba(219, 192, 221, 1);
        }
        &:nth-child(odd) img {
          background: rgba(195, 199, 223, 1);
        }

        & + li {
          margin-left: -10px;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;

          @include media-mx(991) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 15px 40px;
    background: var(--primary-color);
    color: white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
  }
}