.services {
  padding-block: 25px;

  &_wrapper {
    
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;

    @include media-mx(475) {
      grid-template-columns: 100%;
    }

    .service {
      position: relative;
      transition: all .3s ease;

      &_header {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 30px;
        background: #000;
        border-radius: 25px;
        transition: all .3s ease;

        @include media-mx(767) {
          padding: 20px;
        }
      }

      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        background: #4F4F4F;
        border-radius: 50%;
        transition: all .3s ease;

        @include media-mx(767) {
          width: 60px;
          height: 60px;
        }

        img {
          position: relative;
          z-index: 2;
          width: 55px;
          height: 55px;
          object-fit: cover;

          @include media-mx(767) {
            width: 35px;
            height: 35px;
          }
        }
      }

      &__circle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        &:before {
          content: '';
          position: absolute;
          top: calc(50% - 17px);
          right: 10px;
          width: 35px;
          height: 35px;
          background: var(--primary-color);
          border-radius: 50%;
          filter: blur(4px);
          transition: all .3s ease;
        }
        &:after {
          content: '';
          position: absolute;
          top: calc(50% - 7px);
          left: calc(50% - 7px);
          width: 14px;
          height: 14px;
          background: var(--primary-color);
          border-radius: 50%;
          transition: all .3s ease;
        }
      }

      &__title {
        flex: 1;
        color: white;
        @include adaptiv-font(20,18);
        font-weight: 700;
        line-height: 1.2;
        transition: all .3s ease;
      }

      &_content {
        position: absolute;
        top: 100%;
        padding: 0px 30px 30px;
        background: white;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        translate: 0 10px;

        font-size: 14px;
        line-height: 1.4;

        @include media-mx(767) {
          padding: 0 20px 20px;
        }
      }

      &:hover {
        z-index: 20;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        box-shadow: 0px 0px 25px 0 #00000026;

        .service_header {
          background: white;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .service__icon {
          background: var(--primary-color);
        }
        .service__circle {
          &:before {
            right: 0;
            top: -50px;
          }
          &:after {
            top: 0;
            left: -35px;
          }
        }
        .service__title {
          color: #000;
        }
        .service_content {
          opacity: 1;
          visibility: visible;
          translate: 0 0;
          box-shadow: 0px 0px 25px -13px #00000026;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .service {
      display: flex;
      align-items: stretch;
      background: #F2F2F2;
      border-radius: 25px;
      overflow: hidden;

      @include media-mx(991) {
        flex-direction: column;
      }

      &__img {
        width: 45%;

        @include media-mx(1220) {
          width: 40%;
        }
        @include media-mx(991) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }

      &__meta {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 55%;
        padding: 50px;

        @include media-mx(1220) {
          width: 60%;
        }
        @include media-mx(991) {
          width: 100%;
          padding: 30px 20px;
        }
      }

      &__title {
        font-family: var(--ff-fdb);
        @include adaptiv-font(40,32);
        font-weight: 700;
        line-height: 1.2;
      }

      &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
      }

      &__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: max-content;
        height: 45px;
        padding: 10px 30px;
        border-radius: 50px;
        background: var(--primary-color);

        span {
          color: white;
        }
      }
    }
  }
}