<div class="filter">
  <div class="filter_wrapper">
    <div class="filter__close">
      <img src="@img/close.svg" alt="">
    </div>
    <div class="filter__title">Čistič</div>
    <div class="filter__switch">
      <label>
        <input type="radio" name="cat" id="">
        <span>Pronájem</span>
      </label>
      <label>
        <input type="radio" name="cat" id="">
        <span>Prodej</span>
      </label>
    </div>
    <div class="filter_box">
      <div class="box__title">Filtrovat Podle Funkcí</div>
      <div class="box__subtitle">Místo</div>
      <div class="box__radio">
        <label>
          <input type="radio" name="city" id="">
          <span>Vse</span>
        </label>
        <label>
          <input type="radio" name="city" id="">
          <span>1+</span>
        </label>
        <label>
          <input type="radio" name="city" id="">
          <span>2+</span>
        </label>
        <label>
          <input type="radio" name="city" id="">
          <span>3+</span>
        </label>
        <label>
          <input type="radio" name="city" id="">
          <span>4+</span>
        </label>
        <label>
          <input type="radio" name="city" id="">
          <span>5+</span>
        </label>
      </div>
      <div class="box__subtitle">Lázně</div>
      <div class="box__radio">
        <label>
          <input type="radio" name="spa" id="">
          <span>Vse</span>
        </label>
        <label>
          <input type="radio" name="spa" id="">
          <span>1+</span>
        </label>
        <label>
          <input type="radio" name="spa" id="">
          <span>2+</span>
        </label>
        <label>
          <input type="radio" name="spa" id="">
          <span>3+</span>
        </label>
        <label>
          <input type="radio" name="spa" id="">
          <span>4+</span>
        </label>
        <label>
          <input type="radio" name="spa" id="">
          <span>5+</span>
        </label>
      </div>
    </div>
    <div class="filter_box">
      <div class="box__title">Filtrovat Podle Typu</div>
      <div class="box__select">
        <select name="" id="">
          <option value="">Vse</option>
          <option value="">1+</option>
          <option value="">2+</option>
          <option value="">3+</option>
          <option value="">4+</option>
          <option value="">5+</option>
        </select>
      </div>
    </div>
    <div class="filter_buttons">
      <button class="reset">
        <img src="@img/reset.svg" alt="">
        <span>Obnovit</span>
      </button>
      <button class="submit">
        <img src="@img/filter.svg" alt="">
        <span>Filtrovat</span>
      </button>
    </div>
  </div>
</div>