<footer class="footer">
  <div class="footer__container">
    <div class="footer_wrapper">
      <div class="footer_top">
        <div class="footer_col">
          <a href="/" class="footer__logo">
            <img src="@img/logo_white.svg" alt="">
          </a>
          <div class="footer__description">We will be happy to help you!</div>
          <img src="@img/bitcoin.png" class="footer__bit"></img>
        </div>
        <div class="footer_col">
          <nav class="footer__menu">
            <a href="/">Nabídka nemovitostí</a>
            <a href="/">Rezidenční projekty</a>
            <a href="/">Mezinárodní projekty</a>
            <a href="/">Správa nemovitostí</a>
            <a href="/">Naše služby</a>
            <a href="/">O nás</a>
            <a href="/">Kontakt</a>
          </nav>
        </div>
        <div class="footer_col">
          <nav class="footer__menu">
            <a href="/">Prodej a koupě nemovitostí</a>
            <a href="/">Pronájem nemovitostí</a>
            <a href="/">BTR a studentské bydlení</a>
            <a href="/">Správa nemovitostí</a>
            <a href="/">Poradenství pro investory a instituce</a>
            <a href="/">Právní servis</a>
          </nav>
        </div>
        <div class="footer_col">
          <div class="footer__contact">
            <span>Contact information</span>
            <p>Tel.: + 420 667 400 000<br>info@reallocate.cz<br>Prague 2, 120 00 CZK</p>
            <a href="/">Kontaktujte nás</a>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <p class="footer__copy">© 2024 RealLocate.  All Rights Reserved.</p>
        <ul class="footer__social">
          <li><a href="/"><img src="@img/fb.svg" alt=""></a></li>
          <li><a href="/"><img src="@img/tw.svg" alt=""></a></li>
          <li><a href="/"><img src="@img/insta.svg" alt=""></a></li>
          <li><a href="/"><img src="@img/pint.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>