<header class="header" data-lp>
	<div class="header__container">
		<div class="header_wrapper">
			<a href="#" class="header__logo logo">
				<img src="@img/logo_white.png" alt="">
			</a>
			<div class="header_inner">
				<nav class="header__menu">
					<a href="/">Nemovitosti</a>
					<a href="/">Rezidence</a>
					<a href="/">Mezinárodní</a>
					<a href="/">Správa</a>
					<a href="/">Kontakty</a>
				</nav>
				<a href="/" class="header__phone">
					<img src="@img/icon-phone-white.svg" alt="">
					<span>+420 739 259 388</span>
				</a>
				<div class="header__lang">
					<div class="lang-current">
						<span><img src="@img/en.png" alt=""></span>
						<i></i>
					</div>
					<div class="lang-dropdown">
						<a href="#">En</a>
						<a href="#">Cz</a>
						<a href="#">De</a>
					</div>
				</div> 
				@@include('./icon-menu.html', {})
			</div>
		</div>
	</div>
</header>
