<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/main.min.js"></script>

<script>
  // swiper
  var swiper = new Swiper(".projectsSwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      475: {
        slidesPerView: 2,
      },
      767: {
        slidesPerView: 3,
      },
    },
  });

  var swiper = new Swiper(".partnersSwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".slider-navigation .button-next",
      prevEl: ".slider-navigation .button-prev",
    },
    breakpoints: {
      475: {
        slidesPerView: 2,
      },
      767: {
        slidesPerView: 3,
      },
      992: {
        slidesPerView: 5,
      },
    },
  });

  var swiper = new Swiper(".countrySwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".slider-navigation .button-next",
      prevEl: ".slider-navigation .button-prev",
    },
    breakpoints: {
      475: {
        slidesPerView: 2,
      },
      767: {
        slidesPerView: 3,
      },
      992: {
        slidesPerView: 4,
      },
    },
  });

  var swiper = new Swiper(".clientsSwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      475: {
        slidesPerView: 2,
      },
      767: {
        slidesPerView: 3,
      },
      992: {
        slidesPerView: 4,
      },
    },
  });

  var swiper = new Swiper(".projectSwiper", {
    spaceBetween: 20,
    slidesPerView: 2,
    freeMode: true,
    watchSlidesProgress: true,

    breakpoints: {
      640: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
    },
  });
  var swiper2 = new Swiper(".projectSwiper2", {
    spaceBetween: 10,
    thumbs: {
      swiper: swiper,
    },
  });
</script>

<!-- На сторінку де є filter -->
<script>
  // Отримуємо елементи з DOM
  const toggleFilterButton = document.querySelector('.toggle-filter');
  const filterCloseButton = document.querySelector('.filter__close');
  const filterElement = document.querySelector('.filter_wrapper');

  // Додаємо класи filter-open та lock до body та html по кліку на toggle-filter
  toggleFilterButton.addEventListener('click', () => {
      document.body.classList.add('filter-open');
      document.documentElement.classList.add('lock');
  });

  // Видаляємо класи filter-open та lock з body та html по кліку на filter__close
  filterCloseButton.addEventListener('click', () => {
      document.body.classList.remove('filter-open');
      document.documentElement.classList.remove('lock');
  });

  // Видаляємо класи filter-open та lock при кліку поза областю фільтра
  document.addEventListener('click', (event) => {
      const isClickInsideFilter = filterElement.contains(event.target);
      const isClickOnToggle = toggleFilterButton.contains(event.target);

      if (!isClickInsideFilter && !isClickOnToggle) {
          document.body.classList.remove('filter-open');
          document.documentElement.classList.remove('lock');
      }
  });


  const slider1 = document.getElementById('slider1');
  const minValue1 = document.getElementById('minValue1');
  const maxValue1 = document.getElementById('maxValue1');

  noUiSlider.create(slider1, {
    start: [500, 10000],
    connect: true,
    range: {
      'min': 500,
      'max': 10000
    },
    step: 500,
    tooltips: false
  });

  slider1.noUiSlider.on('update', (values) => {
    minValue1.textContent = `< ${Math.round(values[0])} Sq.Ft.`;
    maxValue1.textContent = `${Math.round(values[1])}+ Sq.Ft.`;
  });

  const slider2 = document.getElementById('slider2');
  const minValue2 = document.getElementById('minValue2');
  const maxValue2 = document.getElementById('maxValue2');

  noUiSlider.create(slider2, {
    start: [500, 10000],
    connect: true,
    range: {
      'min': 500,
      'max': 10000
    },
    step: 500,
    tooltips: false
  });

  slider2.noUiSlider.on('update', (values) => {
    minValue2.textContent = `< ${Math.round(values[0])} Sq.Ft.`;
    maxValue2.textContent = `${Math.round(values[1])}+ Sq.Ft.`;
  });
</script>

<script>
    // Отримуємо необхідні елементи
    const calendarItems = document.querySelectorAll('.calendar > div');
    const prevButton = document.querySelector('.calendar__navigation .prev');
    const nextButton = document.querySelector('.calendar__navigation .next');

    let currentIndex = 0; // Поточний індекс активного дня

    // Функція для оновлення активного дня
    function updateActiveDay(index) {
    calendarItems.forEach((item, i) => {
      if (i === index) {
        item.classList.add('active');
      } else {
        item.classList.remove('active');
      }
    });
  }

  // Початкове встановлення активного дня
  updateActiveDay(currentIndex);

  // Обробка кліку на кнопку "Назад"
  prevButton.addEventListener('click', () => {
    currentIndex = (currentIndex - 1 + calendarItems.length) % calendarItems.length;
    updateActiveDay(currentIndex);
  });

  // Обробка кліку на кнопку "Вперед"
  nextButton.addEventListener('click', () => {
    currentIndex = (currentIndex + 1) % calendarItems.length;
    updateActiveDay(currentIndex);
  });

  // Додатково: підтримка клавіш стрілок
  document.addEventListener('keydown', (event) => {
    if (event.key === 'ArrowLeft') {
      currentIndex = (currentIndex - 1 + calendarItems.length) % calendarItems.length;
      updateActiveDay(currentIndex);
    } else if (event.key === 'ArrowRight') {
      currentIndex = (currentIndex + 1) % calendarItems.length;
      updateActiveDay(currentIndex);
    }
  });
</script>