@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: FreightDispProBlack;
	font-display: swap;
	src: url("../fonts/FreightDispProBlack-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
